<section class="w3l-cover-3">
    <div class="cover top-bottom">
        <div class="container">
            <div class="middle-section text-center">
                <div class="section-width">
                    <p>Burada güzel evler var</p>
                    <h2>senide bugün ev sahibi yapalım :))</h2>
                    <div class="most-searches">
                        <h4>Most Searches</h4>
                        <ul>
                            <li><a href="#link">Villa</a></li>
                            <li><a href="#link">Apartman</a></li>
                            <li><a href="#link">Yazlık</a></li>
                        </ul>
                    </div>
                    <form action="#" class="w3l-cover-3-gd" method="GET">
                        <input type="search" name="text" placeholder="Enter keywords" required>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Ofis</option>
                                <option>Villa</option>
                                <option>Apartman</option>
                                <option>Yazlık</option>
                                <option>Bina</option>
                                <option>Mağaza</option>
                                <option>Social housing</option>
                                <option>Town house</option>
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Ülke Seçin</option>
                                <option>Belçika</option>
                                <option>Türkiye</option>
                                <option>Hindistan</option>
                                <option>Londra</option>
                                <option>Arabistan</option>
                                <option>Amerika</option>
                                <option>Srilanka</option>
                            </select>
                        </span>
                        <button type="submit" class="btn-primary">Arama Yap</button>
                    </form>
                </div>
                <section id="bottom" class="demo">
                    <a href="#bottom"><span></span>Scroll</a>
                </section>
            </div>
        </div>
    </div>
</section>